<h1>Register</h1>

<form (ngSubmit)="onRegister()" [formGroup]="userRegister">
  <div class="form-group">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Username" formControlName="username">
      <mat-error *ngIf="userRegister.get('username').hasError('required')">
        Username is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Email" formControlName="email">
      <mat-error *ngIf="userRegister.get('email').hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="userRegister.get('email').hasError('email')">
        Wrong email format
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Password" formControlName="password" type="password">
      <mat-error *ngIf="userRegister.get('password').hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="userRegister.get('password').hasError('minLength')">
        Min length is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <br>
    <button mat-ripple mat-raised-button type="submit" [disabled]="userRegister.invalid || loading" color="accent">Register</button>
  </div>
</form>
<mat-spinner *ngIf="loading" color="primary"></mat-spinner>
<br>
<button (click)="goToLogin()" mat-raised-button color="primary">Login</button>
<button mat-raised-button (click)="goHome()">Home</button>