h1, form, input, label, span {
    font-weight: 200;
    color: #FFF;
}

.login-button {
    color: #fff;
    font-weight: 200;
    background: transparent;
}

.register_button{
    background-color: rgba(255,255,255,0.2);
    color: #fff;
    font-weight: 200;
}